
body{
background:#ffe6f2;
font-family:"Poppins",sans-serif;
color:#333;
}

header{
background:#ff4da6;
padding:20px 10%;
display:flex;
justify-content:space-between;
}

.logo{
color:white;
font-size:24px;
font-weight:bold;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
color:white;
background:linear-gradient(rgba(255,77,166,.6),rgba(255,77,166,.6)),
url("https://images.unsplash.com/photo-1554284126-aa88f22d8b74");
background-size:cover;
}

.box{
max-width:450px;
margin:auto;
background:white;
padding:25px;
border-radius:10px;
}

button{
background:#ff4da6;
color:white;
padding:10px;
border:none;
cursor:pointer;
width:100%;
}

.calendar{
display:grid;
grid-template-columns:repeat(7,1fr);
gap:10px;
padding:20px;
}

.day{
background:white;
padding:15px;
text-align:center;
border-radius:8px;
cursor:pointer;
}

.day:hover{
background:#ffd6eb;
}

footer{
background:#ff4da6;
color:white;
text-align:center;
padding:20px;
margin-top:40px;
}
